/* .container-top {
    width: 100%;
    height: 1428px;
    background: linear-gradient(90deg, #934BFF, #5F3AFC);
}

.container-top .top-logo {
    width: 1170px;
    height: 56px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
} */

/* .container-top .top-logo .logo {
    font-family: Source Han Sans CN;
    font-weight: 400;
    font-size: 37px;
    color: #FFFFFF;
} */